[submodule "PublicAPI"]
	path = PublicAPI
	url = https://github.com/enterpriseaigroup/PublicAPI
[submodule "AdminAPI"]
	path = AdminAPI
	url = https://github.com/enterpriseaigroup/AdminAPI
[submodule "Configurator"]
	path = Configurator
	url = https://github.com/enterpriseaigroup/Configurator
[submodule "ResourceAPI"]
	path = ResourceAPI
	url = https://github.com/enterpriseaigroup/ResourceAPI
[submodule "com.enterpriseaigroup"]
	path = com.enterpriseaigroup
	url = https://github.com/EAI-Website/com.enterpriseaigroup
